/** Alloy Calculator */
#alloy-calculator > div:last-of-type {
  background: #443629;
}
#crucible {
  width: 256px;
}
.crucible-item {
  position: relative;
  height: 64px;
  width: 64px;
}
.crucible-item img:first-of-type {
  position: absolute;
  top: 2px;
  left: 2px;
}
.crucible-item img:last-of-type {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.crucible-item:hover img:last-of-type {
  visibility: visible;
}
.crucible-item p {
  position: absolute;
  right: 5px;
  bottom: 0;
  color: white;
  font-size: 1.5rem;
  text-shadow:
    1px 1px black,
    1px -1px black,
    -1px 1px black,
    -1px -1px black;
}
/** Alloy Calculator */

/** Transition Timer */
#transition-timer {
  text-align: center;
}
#transition-timer > div:last-of-type {
  position: relative;
  padding: 0px;
  color: black;
}
/* Timer Checkbox */
#transition-timer label {
  position: absolute;
  right: 5px;
  top: 5px;
}
/* Timer Text */
#transition-timer > div:last-of-type > div:last-of-type {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
#flag {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
#flag div {
  flex-grow: 1;
}
#flag > div:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.flag-blue {
  background: #5bcefa;
}
.flag-pink {
  background: #f5a9b8;
}
.flag-white {
  background: white;
}
/** Transition Timer */
